body{
    background-color: #039BE5;
}
@media screen and (min-width: 1025px) {
    .mdl-layout__drawer {
        width: 400px;
        text-align: center;
        background-color: #EEEEEE;
    }
    .page-content {
        margin-left: 160px;
    }
    .profile_pic {
    align-self: center;
    margin: 25px;
    height: 300px;
    width: 300px;
    }
    .side-name{
        font-size: 30px;
    }
}

.mdl-layout__drawer.is-hidden {
    width: 600px;
    background-color: #FFEBEE;
}

.mdl-layout__drawer.is-visible {
    width: 600px;
    text-align: center;
    background-color: #EEEEEE;
}

.profile_pic {
    align-self: center;
    margin: 25px;
    height: 300px;
    width: 300px;
}

.side-name{
    font-size: 40px;
    margin: 10px;
}
.side-text{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.mdl-layout__drawer-button{
    margin: 10px;
    top: 15px;
    left: 15px;
    
}
.material-icons{
    font-weight: 300;
    font-size: 60px;
}

a:link {
    text-decoration: none;
}