body{
    background-color: #039BE5;
}
@media screen and (min-width: 1025px) {
    .mdl-layout__drawer {
        width: 400px;
        text-align: center;
        background-color: #EEEEEE;
    }
    .page-content {
        margin-left: 160px;
    }
    .profile_pic {
    align-self: center;
    margin: 25px;
    height: 250px;
    width: 250px;
    }
    .side-name{
        font-size: 30px;
    }   
    .side-text{
        font-size: 20px;
    }
    .social_buttons{
        width: 380px;
        align-self: center;
        padding-top: 15px;
        padding-bottom: 10px;
        position: relative;
        bottom: 5px;
    }
}

.mdl-layout__drawer.is-hidden {
    width: 600px;
    background-color: #FFEBEE;
}

.mdl-layout__drawer.is-visible {
    width: 600px;
    text-align: center;
    background-color: #EEEEEE;
}

.profile_pic {
    align-self: center;
    margin: 25px;
    height: 300px;
    width: 300px;
}

.mdl-layout__drawer-button{
    margin: 10px;
    top: 15px;
    left: 15px;
    
}
.material-icons{
    font-weight: 300;
    font-size: 60px;
}
.side-name{
        font-size: 30px;
    }   
    .side-text{
        font-size: 20px;
    }

a:link {
    text-decoration: none;
}

.social_buttons{
    width: 380px;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    bottom: 5px;
}
.social_fb{
    margin-left: 25px;
    margin-right: 25px;
    
}
.social_git{
    margin-left: 25px;
    margin-right: 25px;
    color: black;
}
.social_twi{
    margin-left: 25px;
    margin-right: 25px;
    color: #039BE5;
}